{
  "presets": [
    ["env", {"modules": false}],
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
